<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <form #prdForm="ngForm">
        <div>
          <label for="prdCate">Select Category:</label>
          <select class="form-control" id="prdCate" required [(ngModel)]="pCate" name="prdCate">
            <option *ngFor="let item of cates | async" [value]="item.$value">{{item.$value}}</option>
          </select>
        </div>
        <div>
          <label for="sel1">Select Suppler:</label>
          <select class="form-control">
            <option *ngFor="let sup of suppliers | async">{{sup.supplerName}}</option>
          </select>
        </div>
        <div>
          <label for="prdID">Product ID:</label>
          <input class="form-control" [(ngModel)]="pID" name="prdID" required>
        </div>
        <div>
          <label for="prdName">Product Name:</label>
          <input type="text" class="form-control" id="prdName" required>
        </div>
        <div>
          <label for="prdPrice">Product Price:</label>
          <input type="text" class="form-control" id="prdPrice" required>
        </div>
        <div>
          <label for="prdPackage">Product Package:</label>
          <input type="text" class="form-control" id="prdPackage" required>
        </div>
        <div>
          <label for="prdDes">Product Description:</label>
          <textarea class="form-control" id="prdDes" required></textarea>
        </div>
        <div>
          <form>
            <label class="radio-inline"><input type="radio" name="isprdRefundable" value="refundable" checked> Refundable </label>
            <label class="radio-inline"><input type="radio" name="isprdRefundable" value="nonrefundable"> Non-Refundable </label>
          </form>
        </div>
      </form>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="box">
        <h4>Drop Images</h4>
        <div class="alert alert-danger" *ngIf="!pID">
          <h5 class="text-center">SET PRODUCT ID FIRST.</h5>
        </div>
        <div class="alert alert-info" *ngIf="pID"
          appFileDrop
          (filesDropped)="handleDrop($event)"
          (filesHovered)="dropzoneState($event)"
          [ngClass]="{'alert-danger': dropzoneActive}">
          <h2 class="text-center"><span class="glyphicon glyphicon-cloud"></span></h2>
        </div>
      </div>
      <div class="col-xs-4" *ngFor="let pimg of prdImgUrls | async">
        <img class="img-rounded" src={{pimg.$value}} style="width:100%">
        <button type="button" class="btn btn-danger btn-xs" (click)="removeFromList(pimg.$value)">DELETE</button>
      </div>
    </div>
  </div>
</div>